.card {
    width: 100%;
    height: 100%;
    margin: auto;

    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    // border: 1px solid black;

    .card-content {
        margin: 2em;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        // border: 2px solid red;

        .content-top, .content-middle, .content-bottom {
            flex: auto;
            // border: 2px solid green;
        }

        .content-middle, .content-bottom {
            font-weight: 600;
        }

        .content-top {
            display: flex;
            align-items: center;
            gap: 1em;

            .photo {
                flex: 0 0 2.5em;

                &, img {
                    border-radius: 50%;
                }
            }
        }

        .content-middle {
            font-size: 1.5em;

            margin-block: 1em;
        }

        .content-bottom {
            line-height: 1.5em;
        }
    }
}

#daniel {
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat ;
    background-position: top 0px right 2em;

    @include bigger-than-1024px {
        background-position: top 0px right 20%;
    }
}

@mixin card-modifier(
    $id, $background-color, 
    $border-color, 
    $top-bottom-color: $light-grayish-blue, 
    $middle-color: $white
    )
{
    #{$id} {
        background-color: $background-color;

        .content-top {
            .photo {
                border: 2px solid $border-color;
            }

            .info {
                .name {
                    color: $top-bottom-color;
                }

                .verified {
                    color: hsl-with-opacity($top-bottom-color, 0.5);
                }
            }
        }

        .content-middle {
            color: $middle-color;
        }

        .content-bottom {
            color: hsl-with-opacity($top-bottom-color, 0.7);
        }
    }
}

@include card-modifier("#daniel", $moderate-violet, #a376ed);
@include card-modifier("#jonathan", $very-dark-grayish-blue, $light-gray);
@include card-modifier("#jeanette", $white, $white, $very-dark-grayish-blue, $very-dark-blackish-blue);
@include card-modifier("#patrick", $very-dark-blackish-blue, $moderate-violet);
@include card-modifier("#kira", $white, $white, $very-dark-grayish-blue, $very-dark-blackish-blue);
